footer {
    background-color: #212529;
    color: white;
    padding: 5px;
    position: sticky;
    bottom: 0px;
    margin-top: 30%;
  }
  body {
    background: url("../images/background.gif") no-repeat;
    background-size: cover;
}
.card {
    margin: 5%;
}
.jumbotron {
    margin-bottom: 5%;
}
h3 {
    color: azure;
}